a {
 text-decoration: none;
  color: darkcyan;
 }

img {
max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

 body {
   font-family: 'Open Sans', sans-serif;
 }


 #main {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;

 }

#logo {
   text-align: center;
   margin: 0;

 }

 h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;
   color: darkcyan;
}

#pic {
max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;         
     }

#extras {
    max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;  
}

#back {
    text-align: center;
    margin: auto;
}